*{
    margin: 0;
    padding: 0;
}
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background-image: url(pic.jpg);
    padding: 12px 0;
    color: gold;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(226, 204, 7, 0.3);
}
.table-head{
    background: #000011;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid  rgb(12, 11, 11);
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: rgb(100, 16, 16);
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}